*.*~
*#*#
*.pyc
*.pyo
*.jpg
*.png
*.gif
*.log
*.swp
*.psd
*.pdf
*.sql
.idea/
github-public.rtf
manage.py
fabfile.py
settings.py
local_settings.py
urls.py
log/
site_media/
!site_media/css/*
!site_media/js/*
migrations/

