<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AMANDA RUSSEL - All Things Fitness and Lifestyle</title>
<link rel="stylesheet" type="text/css" href="css/reset.css"/>
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!--[if IE 7]>
                <link rel="stylesheet" type="text/css" href="css/ie7.css">
        <![endif]-->
<!--[if gt IE 7]>
                <link rel="stylesheet" type="text/css" href="css/ie8-and-up.css" />
        <![endif]-->
</head>
<body>
<div class="pagewrap">
    <!-- header -->
    <div class="header">
        <div class="logo"><a href="index.html"><img src="images/amandarussel_logo.gif" /></a></div>
        <div class="socialmedia">
            <ul>
                <li><a href="#"><img src="images/facebook_icon.gif" alt="Facebook" /></a></li>
                <li><a href="#"><img src="images/twitter_icon.gif" alt="Twitter" /></a></li>
                <li><a href="#"><img src="images/youtube_icon.gif" alt="Youtube" /></a></li>
            </ul>
        </div>
        <p class="clear"></p>
    </div>
    <!-- header ends -->
    <!-- top navigation -->
    <div class="topnav">
        <ul class="dropdown">
            <li><a href="#">Home</a> </li>
            <li class="active"><a href="#">Fitness</a>
                <ul class="sub_menu">
                    <li><a href="tipsandadvice.html">Tips & Advice</a></li>
                    <li><a href="weightloss.html">Weight Loss</a></li>
                    <li><a href="workouts.html">Workouts</a></li>
                </ul>
            </li>
            <li><a href="#">Lifestyle</a>
                <ul class="sub_menu">
                    <li><a href="#">Beauty and Style</a></li>
                    <li><a href="#">Healthy Living</a></li>
                    <li><a href="#">Hot Topics</a></li>
                    <li><a href="#">Relationships</a></li>
                </ul>
            </li>
            <li><a href="#">Nutrition</a>
                <ul class="sub_menu">
                    <li><a href="#">Diet Tips</a></li>
                    <li><a href="#">Meal Ideas</a></li>
                    <li><a href="#">Guilty Pleasures</a></li>
                </ul>
            </li>
            <li><a href="#">Gallery</a> </li>
            <li><a href="#">About</a>
                <ul class="sub_menu">
                    <li><a href="thear_program.html">The AR Program</a></li>
                    <li><a href="upcoming_events.html">Upcoming Events</a></li>
                    <li><a href="amandas_bio.html">Amanda's Bio</a></li>
                    <li><a href="consultations.html">Consultations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </li>
            <li><a href="#">Videos</a>
                <ul class="sub_menu">
                    <li><a href="#">All Videos</a></li>
                    <li><a href="#">Ask Amanda</a></li>
                    <li><a href="#">Fitness</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Nutrition</a></li>
                </ul>
            </li>
            <li><a href="#">Shop</a></li>
        </ul>
    </div>
    <!-- top navigation ends -->
    <div class="maincontent">
        <!-- left panel -->
        <div class="inner_left_panel">
            <ul>
                <li ><a href="tipsandadvice.html">Tips & Advice</a></li>
                <li><a href="weightloss.html">Weight Loss</a></li>
                <li class="active"><a href="workouts.html">Workouts</a></li>
            </ul>
        </div>
        <!-- left panel ends-->
        <!-- right panel -->
        <div class="inner_right_panel">
            <h1>The ‘30-30’ cycling workout</h1>
            <!-- article header starts here -->
            <div class="article_header"><img src="images/workout_header.jpg"  alt="Article header alt comes here" /></div>
            <!-- article header ends here -->
            <div class="article_content">
                <p>This workout is perfect when you want an incredible workout that will breed quick results and produce that euphoric endorphin high – not to mention that the time will fly by (This is one of my favorite workouts: fast yet efficient).</p>
                <p><span class="blue bold">Resistance: </span>I recommend putting enough resistance on the bike so that your legs are NOT spinning out of control (anything from what feels like a flat road to a slight incline). You will likely have to add resistance on your sprints to keep from spinning out of control.</p>
                <h3 class="georgia italic martop">Subheading example</h3>
                <p>Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                <div class="steps">
                    <div class="step_desc">
                        <h3 class="georgia italic">Step One</h3>
                        <p>5-7 Min Warm-Up</p>
                    </div>
                    <div class="step_img"><img src="images/workouts_small_banner.gif" width="310" height="150" alt="Workouts_small banner" /></div>
                    <p class="clear"></p>
                    <div class="step_desc">
                        <h3 class="georgia italic">Step Two</h3>
                        <ul>
                            <li>30 seconds ‘ON’ (Hard-Moderate- Hard Effort)</li>
                            <li>30 seconds ‘OFF’ (Recovery)</li>
                            <li>x 30 repeats</li>
                        </ul>
                    </div>
                    <div class="step_img"><img src="images/workouts_small_banner.gif" width="310" height="150" alt="Workouts_small banner" /></div>
                    <p class="clear"></p>
                </div>
            </div>
            <!-- Pagination starts here -->
            <div class="clear"></div>
            <a href="#" class="fl_left martop clear bold">» Email this workout</a><br/>
            <a href="#" class="fl_left clear bold">» Download as a JPG</a>
            <!-- Pagination ends here -->
        </div>
        <!-- right ends -->
        <div class="clear"></div>
    </div>
</div>
<!-- grid ends here -->
<div class="bottom_shadow"></div>
<!-- footer -->
<div id="footer">
    <ul>
        Home
        <li>&nbsp;</li>
    </ul>
    <ul>
        Fitness
        <li><a href="#">Tips and Advice</a></li>
        <li><a href="#">Weight Loss</a></li>
        <li><a href="#">Workouts</a></li>
    </ul>
    <ul>
        Lifestyle
        <li><a href="#">Beauty and Style</a></li>
        <li><a href="#">Healthy Living</a></li>
        <li><a href="#">Hot Topics</a></li>
        <li><a href="#">Relationships</a></li>
    </ul>
    <ul>
        Nutrition
        <li><a href="#">Diet Tips</a></li>
        <li><a href="#">Meal Ideas</a></li>
        <li><a href="#">Guilty Pleasures</a></li>
    </ul>
    <ul>
        Gallery
        <li>&nbsp;</li>
    </ul>
    <ul>
        About
        <li><a href="#">The AR Program</a></li>
        <li><a href="#">Upcoming Events</a></li>
        <li><a href="#">Amanda’s Bio</a></li>
        <li><a href="#">Consultations</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul>
        Videos
        <li><a href="#">Ask Amanda</a></li>
        <li><a href="#">Fitness</a></li>
        <li><a href="#">Nutrition</a></li>
        <li><a href="#">Lifestyle</a></li>
    </ul>
    <ul>
        Shop
        <li><a href="#">Coming Soon</a></li>
    </ul>
    <p class="copyright">&copy; 2011 Amanda Russell Inc. All rights reserved.</p>
</div>
<!-- footer ends -->
</body>
</html>
