<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AMANDA RUSSEL - All Things Fitness and Lifestyle</title>
<link rel="stylesheet" type="text/css" href="css/reset.css"/>
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!--[if IE 7]>
                <link rel="stylesheet" type="text/css" href="css/ie7.css">
        <![endif]-->
<!--[if gt IE 7]>
                <link rel="stylesheet" type="text/css" href="css/ie8-and-up.css" />
        <![endif]-->
</head>
<body>
<div class="pagewrap">
    <!-- header -->
    <div class="header">
        <div class="logo"><a href="index.html"><img src="images/amandarussel_logo.gif" /></a></div>
        <div class="socialmedia">
            <ul>
                <li><a href="#"><img src="images/facebook_icon.gif" alt="Facebook" /></a></li>
                <li><a href="#"><img src="images/twitter_icon.gif" alt="Twitter" /></a></li>
                <li><a href="#"><img src="images/youtube_icon.gif" alt="Youtube" /></a></li>
            </ul>
        </div>
        <p class="clear"></p>
    </div>
    <!-- header ends -->
    <!-- top navigation -->
    <div class="topnav">
        <ul class="dropdown">
            <li><a href="#">Home</a> </li>
            <li><a href="#">Fitness</a>
                <ul class="sub_menu">
                    <li><a href="tipsandadvice.html">Tips & Advice</a></li>
                    <li><a href="weightloss.html">Weight Loss</a></li>
                    <li><a href="workouts.html">Workouts</a></li>
                </ul>
            </li>
            <li><a href="#">Lifestyle</a>
                <ul class="sub_menu">
                    <li><a href="#">Beauty and Style</a></li>
                    <li><a href="#">Healthy Living</a></li>
                    <li><a href="#">Hot Topics</a></li>
                    <li><a href="#">Relationships</a></li>
                </ul>
            </li>
            <li><a href="#">Nutrition</a>
                <ul class="sub_menu">
                    <li><a href="#">Diet Tips</a></li>
                    <li><a href="#">Meal Ideas</a></li>
                    <li><a href="#">Guilty Pleasures</a></li>
                </ul>
            </li>
            <li><a href="#">Gallery</a> </li>
            <li  class="active"><a href="#">About</a>
                <ul class="sub_menu">
                    <li><a href="thear_program.html">The AR Program</a></li>
                    <li><a href="upcoming_events.html">Upcoming Events</a></li>
                    <li><a href="amandas_bio.html">Amanda's Bio</a></li>
                    <li><a href="consultations.html">Consultations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </li>
            <li><a href="#">Videos</a>
                <ul class="sub_menu">
                    <li><a href="#">All Videos</a></li>
                    <li><a href="#">Ask Amanda</a></li>
                    <li><a href="#">Fitness</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Nutrition</a></li>
                </ul>
            </li>
            <li><a href="#">Shop</a></li>
        </ul>
    </div>
    <!-- top navigation ends -->
    <div class="maincontent">
        <!-- left panel -->
        <div class="inner_left_panel">
            <ul>
                <li class="active"><a href="thear_program.html">The AR Program</a></li>
                <li><a href="upcoming_events.html">Upcoming Events</a></li>
                <li><a href="amandas_bio.html">Amanda's Bio</a></li>
                <li><a href="consultations.html">Consultations</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <!-- left panel ends-->
        <!-- right panel -->
        <div class="inner_right_panel">
            <h1>The AR Program</h1>
            <div class="ar_video">
             <iframe width="640" height="380" src="http://www.youtube.com/embed/KxcXay4ipWA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="article_content">
                <h2 class="martop">The AR Program </h2>
                <p>OLYMPIC-TRAINED, Celebrity Fitness Expert and Model, Amanda Russell has defined the new age of fitness and wellness, creating The AR Program, a holistic mind and body system of intense dynamic workouts designed to transform the body by focusing on secrets athletes have known for years.</p>

<p>Amanda Russell combines her running expertise with athletic training to create an innovative program fusing high intensity interval training, plyometrics, bodyweight strength training and power yoga poses. Highly challenging and specifically designed to get you into the shape of your life. </p>

<p>&nbsp;</p>
<p>The AR Program is offered in a variety of formats:</p>
<ul>
<li>Specialty Group Classes (see Upcoming Events for the next class in your area)</li>

<li>Customized and Targeted Individual Training Plans (see Consultations)</li>

<li>NEW! Weekly ONLINE Exercise TV Series, which can be viewed here on Amanda-Russell.com anytime, anywhere.</li>

<li>Intense but modifiable for all levels.</li>
                </ul>
            </div>

        </div>
        <!-- right ends -->
        <div class="clear"></div>
    </div>
</div>
<!-- grid ends here -->
<div class="bottom_shadow"></div>
<!-- footer -->
<div id="footer">
    <ul>
        Home
        <li>&nbsp;</li>
    </ul>
    <ul>
        Fitness
        <li><a href="#">Tips and Advice</a></li>
        <li><a href="#">Weight Loss</a></li>
        <li><a href="#">Workouts</a></li>
    </ul>
    <ul>
        Lifestyle
        <li><a href="#">Beauty and Style</a></li>
        <li><a href="#">Healthy Living</a></li>
        <li><a href="#">Hot Topics</a></li>
        <li><a href="#">Relationships</a></li>
    </ul>
    <ul>
        Nutrition
        <li><a href="#">Diet Tips</a></li>
        <li><a href="#">Meal Ideas</a></li>
        <li><a href="#">Guilty Pleasures</a></li>
    </ul>
    <ul>
        Gallery
        <li>&nbsp;</li>
    </ul>
    <ul>
        About
        <li><a href="#">The AR Program</a></li>
        <li><a href="#">Upcoming Events</a></li>
        <li><a href="#">Amanda’s Bio</a></li>
        <li><a href="#">Consultations</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul>
        Videos
        <li><a href="#">Ask Amanda</a></li>
        <li><a href="#">Fitness</a></li>
        <li><a href="#">Nutrition</a></li>
        <li><a href="#">Lifestyle</a></li>
    </ul>
    <ul>
        Shop
        <li><a href="#">Coming Soon</a></li>
    </ul>
    <p class="copyright">&copy; 2011 Amanda Russell Inc. All rights reserved.</p>
</div>
<!-- footer ends -->
</body>
</html>
