{% extends "base.html" %}
{% load mezzanine_tags %}

{% block title %}Contact | AMANDA RUSSELL - All Things Fitness and Lifestyle{% endblock %}

{% block meta_description %}Contact Amanda Russell{% endblock %}


{% block main %}

{% autoescape off %}
<div class="inner_right_panel">
  <!-- left panel -->       
  <h1>Contact</h1>
  <div class = "contact_page">
    <div class = "left">
      <h2>Stay motivated EVERY week with me, join me my newsletter and receive:</h2>
        <ul>
            <li>Access to Great Giveaways and promotions</li>
            <li>New FREE workout videos EVERY week</li>
            <li>FREE diet tips and recipes</li>
            <li>Inspiration and support to keep you motivated</li>
        </ul>
      {% csrf_token %}
      <form action = "" method = "POST"> {% csrf_token %}
	{% for field in contactform %}
	  <label>{{ field.label }}</label>
          {{ field }}
	  {{ field.errors }}
	{% endfor %}
      	<input type="Submit" value="Send" class="send_btn fl_right" />
      </form>
    </div>

    <div class="right">
      <h2>Follow Amanda Russell</h2>
      <a href="http://youtube.com/user/AmandaRussell" target="_blank">YouTube.com/user/AmandaRussell</a>
      <a href="http://www.facebook.com/arussellfit" target="_blank">Facebook.com/ARussellFit</a>
      <a href="http://twitter.com/arFit" target="_blank">Twitter.com/arFit</a>
    <p class="clear"></p>
  </div>
  </div>

</div>
<div class = "clear"> </div>
<script>$("input[type=text]").addClass("textfield"); 	$("select").addClass("textfield");	$("textarea").width("95%")</script>


{% endautoescape %}
{% endblock %}

