
{% extends "base.html" %}

{% load mezzanine_tags %}

{% load pagination_tags %}
{% load pages_tags %}
{#{% load thumbnail %}#}

{% block title %}Gallery | AMANDA RUSSELL - All Things Fitness and Lifestyle{% endblock %}

{% block meta_description %}A list of Beauty and Style by Amanda Russell{% endblock %}

{% block leftpanel %}

<div class="inner_left_panel">
  <ul>    
    <li class="active">  <a href="{% url page pages.slug %}">Gallery</a></li>
  </ul>
</div>

{% endblock %}

{% block main %}

{% autoescape off %}

  <!-- left panel -->       

  <div class = "inner_right_panel group" >
    <h1> Photo Gallery</h1>
    <div class = "gallery_content group">
      {% autopaginate all_photos  30  %}
      {% for image in all_photos  %}
      <a class="grouped_elements fancybox" rel="group1" href="{{MEDIA_URL}}{{image.image}}" title ="{{image.caption}}">
      <img src ="{{ MEDIA_URL }}{% thumbnail image.image 136 105 %}"/>
      </a>
     {% endfor %}
    </div>
    
  <!-- left panel ends-->   
  {% paginate %}
  </div>
<div class="clear"></div>

{% endautoescape %}
{% endblock %}
