

{% extends "base.html" %}
{% load mezzanine_tags %}

{% block leftpanel %}
{% endblock %}



{% block main %}

{% autoescape off %}

  <!-- left panel -->       

  <div class = "left_panel martop" >
    <div class = "videoplayer">{% editable page.homepage.youtube_url %}{{ page.homepage.youtube_url|safe }}{% endeditable %}</div>
    <a href="/videos/workouts" class="blue italic georgia bold fl_right">View More Videos ></a>                                                                      <div class="clear"></div>
           
    
    <div class="latest_tips_banner">{% editable page.homepage.beauty_tips_image %}{{ page.homepage.beauty_tips_image|safe }}{% endeditable %}</div>
    <div class="learnmore_banner">{% editable page.homepage.goals_image %}{{ page.homepage.goals_image|safe }}{% endeditable %}</div>
    <div class="photos_banner">{% editable page.homepage.amanda_image %}{{ page.homepage.amanda_image }}{% endeditable %}</div>
  </div>
  <!-- left panel ends-->             
  
  <!-- right panel -->
  <div class="right_panel martop">          

    <div class="upcoming_events">
        <img src="{{MEDIA_URL}}images/upcoming_events_title-1.png" width="300" height="50" alt="Upcoming Events" />
    </div>{% editable page.homepage.upcoming_events %}{{ page.homepage.upcoming_events }}{% endeditable %}

    <div class="twitter_widget">
      <ul class="tabs">
	<li><a href="#tab1">Twitter</a></li>
	<li><a href="#tab2">Facebook</a></li>
	<li><a href="#tab3">Youtube</a></li>
      </ul>

      <div class="tab_container">
	<div id="tab1" class="tab_content">
	  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
	  <script>
	    new TWTR.Widget({
	    version: 2,
	    type: 'profile',
	    rpp: 4,
	    interval: 30000,
	    width: 250,
	    height: 300,
	    theme: {
	    shell: {
	    background: '#333333',
	    color: '#ffffff'
	    },
	    tweets: {
	    background: '#000000',
	    color: '#ffffff',
	    links: '#4aed05'
	    }
	    },
	    features: {
	    scrollbar: false,
	    loop: false,
	    live: false,
	    behavior: 'all'
	    }
	    }).render().setUser('arfit').start();
	  </script>
	  <!--Content-->
	</div>
	<div id="tab2" class="tab_content">
<!-- Facebook Badge START --><a href="http://www.facebook.com/pages/Amatuer-Readings/247749065280355" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Amatuer Readings">Amatuer Readings</a><br/><a href="http://www.facebook.com/pages/Amatuer-Readings/247749065280355" target="_TOP" title="Amatuer Readings"><img src="http://badge.facebook.com/badge/247749065280355.1659.1731732408.png" style="border: 0px;" /></a><br/><a href="http://www.facebook.com/business/dashboard/" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Promote Your Page Too</a>
	</div>
	<div id="tab3" class="tab_content">
	  Youtube widget comes here
	  <!--Content-->
	</div>
      </div>
    </div>
            <!-- twitter widget ends here --> 

  </div>


  <div class="clear"></div>
  <!-- left panel ends-->   



{% endautoescape %}
{% endblock %}
