{% extends "base.html" %}
{% load pages_tags mezzanine_tags %}

{% block meta_title %}
    {{ page.title }} |
{% endblock %}

{% block meta_description %}{{ page.individualmealideaspage.article|truncatewords:30|safe }}{% endblock %}


{% block leftpanel %}
{#{% load thumbnail %}#}
<div class = "inner_left_panel">
      {% page_menu "pages/menus/individualsidebar.html" %}
</div>

{% endblock %}




{% block main %}

{% autoescape off %}


  <div class = "inner_right_panel" >
    <h1> {{ page.title }} </h1>
    <div class = "article_header">{% editable page.individualmealideaspage.image %}
      	    <img src ="{{ MEDIA_URL }}{% thumbnail page.individualmealideaspage.image 640 480 %}" />
    {% endeditable %}</div>
    <div class = "article_content">
      {% editable page.individualmealideaspage.article %}{{ page.individualmealideaspage.article|safe }}{% endeditable %}
    </div>

      <a href="{% url page parentpage.slug %}" class="fl_left martop">« Back to Meal Ideas</a>


  </div>
<div class = "clear"> </div>
</div>
{% endautoescape %}
{% endblock %}
