{% extends "base.html" %}

{% load pages_tags mezzanine_tags %}
{% block leftpanel %}
{% load thumbnail %}
<div class = "inner_left_panel">
      {% page_menu "pages/menus/individualsidebar.html" %}
</div>

{% endblock %}

{% block main %}

{% autoescape off %}

  <!-- right panel -->       

  <div class = "inner_right_panel" >
    <h1> {{ page.title }} </h1>
    <div class = "article_header">{% editable page.individualbeautyandstylepage.image %}
   {% thumbnail page.individualbeautyandstylepage.image "640x480" as im %}
	    <img src ="{{ im.url }}"  /></a>
	  {% endthumbnail %}
{% endeditable %}</div>
    <div class = "article_content">
      {% editable page.individualbeautyandstylepage.article %}{{page.individualbeautyandstylepage.article|safe}}{% endeditable %}
    </div>

    <!-- right panel ends-->             
  

<a href="{% url page parentpage.slug %}" class="fl_left martop">« Back to Beauty and Style</a>
  </div>
<div class = "clear"> </div>

{% endautoescape %}
{% endblock %}
