{% extends "base.html" %}

{% load mezzanine_tags %}
{% load pagination_tags %}
{#{% load thumbnail %}#}
{% block title %}Relationships | AMANDA RUSSELL - All Things Fitness and Lifestyle{% endblock %}

{% block meta_description %}A list of relationship content by Amanda Russell{% endblock %}


{% block main %}

{% autoescape off %}
<div class="inner_right_panel">
  <h1>{{ page.title }} </h1>
  {% autopaginate all_relationships 10 %}
 <div class = "image_grid">
    <ul>
      {% for relationship in all_relationships  %}
      <li>
	<div class="small_thumb" style="width:138px;">
        <a href="{% url page relationship.slug %}"><img src ="{{ MEDIA_URL }}{% thumbnail relationship.image 138 138 %}"/></a>
	</div>

	<div class = "img_desc">
	  <a href = {% url page relationship.slug %}><h3> {{ relationship.title }} </h3> </a>
	  <div style = "height:73px;overflow:hidden"> {{ relationship.article|truncatewords_html:15  }}</div>
	  <span class="georgia italic bold blue"><a href="{% url page relationship.slug %}">Read more &raquo;</a></span> 
	</div>
	
      </li>
      {% endfor %}
    </ul>
  </div>
  {% paginate %}
</div>

<div class="clear"></div>
{% endautoescape %}
{% endblock %}
