{% extends "base.html" %}
{% load mezzanine_tags %}
{% block leftpanel %}


<div class = "inner_left_panel">
  <ul>

    
    <li class = "active">  <a href = "{% url page page.slug %}">Shop </a> </li>

  </ul>
</div>

{% endblock %}

{% block main %}

{% autoescape off %}


<div class = "inner_right_panel">
<h1>Shop</h1>
<div id="shop_affiliates">
        <table border="1">
            <tr>
                <td>
                    <a href="http://www.sunwarrior.com/warriorblend/" target="_blank">
                    <img src="{{ MEDIA_URL }}{% thumbnail "shop_images/newmaingraphic-260x260.jpg" 217 217 %}" /></a>
                </td>
                <td>
                    <a href="http://healthwarrior.com/category/default.aspx?reftag=AmandasBlog" target="_blank">
                    <img src="{{ MEDIA_URL }}{% thumbnail "shop_images/image_1156_False_320_320_1-260x260.png" 217 217 %}" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://fieldjerky.com/" target="_blank">
                    <img src="{{ MEDIA_URL }}{% thumbnail "shop_images/jerky-260x260.jpg" 217 217 %}" /></a>
                     <br />10% off Promo code: ARFit
                </td>
                <td id="split59">
                    <a href="http://www.splits59.com/index.php?ref=2&affiliate_banner_id=2" target="_blank">
                    <img src="{{ MEDIA_URL }}{% thumbnail "shop_images/split59.jpg" 165 125 %}" /></a>
                     <br />10% off through June 9 Promo code: ARFIT 10
                </td>
            </tr>
        </table>
</div>
<div class = "clear"></div>
</div>
{% endautoescape %}
{% endblock %}
